<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
      <globalization
    fileEncoding="utf-8"
    requestEncoding="utf-8"
    responseEncoding="utf-8"
    culture="pl-PL"
    uiCulture="pl-PL"
    />
    </system.web>
    
  </location>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="administrator@mindmap.com">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="pracamindmap@gmail.com" password="praca1234!" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
